body {
  margin: 0 auto;
  /* max-width: 56em */
  padding-bottom: 10px;
}

.cover{
  background: url(img/bg_header.png);
  background-size: cover;
 }

 .crm .col-md-3 { padding: 0px;}

 /*sample1*/
.grid{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.photo {
  position: relative;
  width: 31%;
  height: auto;
  margin: 1%;
  overflow: hidden;
        }
.photo:before {
content: "";
display: block;
padding-top: 100%;
}
.inner {
position: absolute;
top: 0; left: 0;
width: 100%;
height: 100%;
}
.inner img{
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
width: auto;
height: 100%;
}

ul {
  list-style: none;
}

.tags {
  display: flex;
  white-space: nowrap;
  margin-top: 16px;
  margin-bottom:10px;
}

li {
  float: left;
  color:#a100ff;
}

.module {
  /* Demo-Specific Styles */
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;

  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .module {
    margin: 0;
  }
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
